<h1>Private Messaging </h1>
<style>

    </style>
<style>

</style>
<body>

<div class="w3-container w3-red">
    =form_tag action: :login do
  <h1>Header</h1>

    User1
<div class="talk-bubble tri-right round">
  <div class="talktext">
    <p>Moving our way back up the right side indented. Uses .round and .right-in</p>
  </div>
</div>

  <br><br>
    <div class="talk-bubble tri-left round ">
      <div class="talktext">
        <p>Moving our way back up the right side indented. Uses .round and .right-in</p>

      </div>

    </div>
        User2
    <br>
    <br>
    <input type="text" name="lastname" value="Mouse">
    <br><br>

    <form action="/action_page.php">
        <input type="submit" value="Submit">
    </form>

<textarea rows="4" cols="50">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>

</body>
</html>
</div>

<%= link_to 'Back to Home Page', pages_home_path %>
