<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-10">

      <div class="container">
        <h2 class="text-center">Contracts for My Vehicles</h2>

        <% if !@owner_contracts.empty? %>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Contract</th>
              <th scope="col">Status</th>
            </tr>
          </thead>

          <tbody>
            <% @owner_contracts.each do |contract| %>
              <tr bgcolor="#f7f7f9" >
              <td><%= link_to contract.short_form, contract %></td>
              <td><%= contract.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% else %>

        <p class="lead text-center">You have no contracts for your cars.</p>

        <% end %>
      </div>

      <div class="container mt-5">
        <h2 class="text-center">My Rental Contracts</h2>

        <% if !@renter_contracts.empty? %>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Contract</th>
              <th scope="col">Status</th>
            </tr>
          </thead>

          <tbody>
            <% @renter_contracts.each do |contract| %>
              <tr bgcolor="#f7f7f9" >
              <td><%= link_to contract.short_form, contract %></td>
              <td><%= contract.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <% else %>

        <p class="lead text-center">You have no rental contracts.</p>

        <% end %>
      </div>

    </div>
  </div>
</div>
