<!--
    Coded by: Sheldon Ebron
    Email: sebron@memphis.edu
-->


<div class="container">
  <div class="jumbotron jumbotron-fluid rounded" style="background-image: url(/assets/winding_road_5.jpg); background-size: cover; padding-top: 20%;
      padding-bottom: 20%;">



    <div class="overlay"></div>
    <div class="container text-center text-light">
      <h1 class="display-3 mb-1 text-light">Conversations</h1>

      <p class="lead" style="font-size: 18pt;">Below are hyperlinks to all of the conversations that your connected to and by selecting the linkink you will be able to view the conversation</p>

      <center>
       <table>
               <tr>
                   <th> <b><%= link_to "Create a New Conversation", new_conversation_path %></b> </th>
                   <th></th>
               </tr>

               <% if @conversations.empty?%>

               <% else %>
                     <% @conversations.each do |conversation|  %>
                     <tr>
                         <td>
                         <center>
                         <% if conversation.user1.email == @user.email %>
                         <%= link_to conversation.user2.email, conversation_path(conversation) %>

                         <%elsif conversation.user2.email == @user.email %>
                         <%= link_to conversation.user1.email, conversation_path(conversation) %>
                         </center>

                     </td>

                           <%end%>
                      <%end%>

                 </tr>

               <%end%>

          </table>
     </center>

    </div>
  </div>
</div>
