

<style>

     h1 {
         text-align: center;
     }
</style>


<div class = "conversation-window">

<h1>New Conversation</h1>

<%= form_for @conversation do |f| %>

        <p>
            <b>Start a Conversation with</b><br>
            <%= f.collection_select(:user2_id, User.all, :id, :email)%>
        </p>
        <p>
            <%= f.submit "Add" %>
        </p>

    <% end %>

</div>
