<h1>Rent A Car</h1>

<ul>
<img src=<%= image_path('rent_a_car.png')%> width="300px" width="300px" align="center">
<li><%=link_to" Profile", profiles_path %> </li>
<li><%=link_to" Paypal", paypals_path %> </li>



</ul>

